.wrapper{
    background-color: #101010;
}
.clients{
    position: absolute;
width: 100%;
height: 320px;
left: 0px;
top: px;

background: #c4c4c4;
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_menu_list {
    display: flex;
    align-items: center;
  }
  .nav_menu_list .nav_menu_item {
    margin: 0 2rem;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 16.5px;
    line-height: 27px;
    color: var(--link-color);
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
  .nav_menu_link:hover {
    color: var(--primary-color);
  }
  .toggle_btn {
    font-size: 20px;
    font-weight: 600;
    color: var(--lg-heading);
    z-index: 4;
  }
  .nav_menu,
  .close_btn {
    display: none;
  }
.heading{
    float: right;
    color: #f3f2f3;
    height: 30px;
width: 77px;
left: 1082px;
top: 24px;
margin-left: 934px;
margin-top: -34px;

background-color: #bf008a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* ==== CSS VARIABLES ==== */
  :root {
    --primary-color: #335eea;
    --link-color: #506690;
    --btn-hover-color: #2b50c7;
    --lg-heading: #161c2d;
    --text-content: #869ab8;
    --fixed-header-height: 4.5rem;
  }
  @media screen and (min-width: 1040px) {
    .container {
      width: 1040px;
      margin: 0 auto;
    }
  }
  .grid-cols-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .grid-item-1 {
    padding-top: 32rem;
    padding-left: 1.5rem;
  }
  .launch{
    position: absolute;
    height: 60px;
    left: 200px;
    top: 395px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.4px;
    
    /* Primary Font Color */
    
    color: #E0E0E0;

  }
  .door{
    position: absolute;
    width: 299px;
    height: 60px;
    left: 200px;
    top: 466px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.4px;
    
    /* Secondary Font Color */
    
    color: #A0A0A0;

  }
  .sign{
    position: absolute;
    height: 30px;
    left: 197px;
    top: 533px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.4px;
    
    /* Secondary Font Color */
    
    color: #A0A0A0;
  }
  .calender{
    position: absolute;
    left: 670px;
    top: 276px;
    
    border-radius: 8px; 
  }
  .signup{
    position: absolute;
    
    left: 828px;
    top: 546px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    letter-spacing: 0.4px;
    
    /* Primary Font Color */
    
    color: #E0E0E0;
    
  }
  .firstname{position: absolute;
    
    left: 800px;
    top: 589px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    /* Primary Font Color */
    
    color: #E0E0E0;


  }
  .name{
    position: absolute;
    
    height: 32px;
    left: 800px;
    top: 604px;
    
    background: #212427;
    /* Line color 1 */
    
    border: 1px solid #38383E;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;

  }
  .lastname{
    position: absolute;
    width: 53px;
    height: 15px;
    left: 995px;
    top: 589px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    /* Primary Font Color */
    
    color: #E0E0E0;

  }
  .name1{
    position: absolute;
    height: 32px;
    left: 993px;
    top: 604px;
    
    background: #212427;
    /* Line color 1 */
    
    border: 1px solid #38383E;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;


  }
  .email{
    position: absolute;
    
    left: 800px;
    top: 648px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    /* Primary Font Color */
    
    color: #E0E0E0;

  }
  .email1{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 800px;
    top: 663px;
    
    background: #212427;
    /* Line color 1 */
    
    border: 1px solid #38383E;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    
  }
  .number{
    position: absolute;
    width: 78px;
    height: 15px;
    left: 800px;
    top: 707px;
    
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    /* Primary Font Color */
    
    color: #E0E0E0;

  }
  .number1{
    position: absolute;
    width: 358px;
    height: 32px;
    left: 800px;
    top: 722px;
    
    background: #212427;
    /* Line color 1 */
    
    border: 1px solid #38383E;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;

  }
  .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    
    position: absolute;
    width: 359px;
    height: 30px;
    left: 800px;
    top: 776px;
    
    /* Blue-Buttons, Text Highlight, icons */
    
    background: #5891F3;
    border-radius: 4px;
  }
  @media screen and (max-width: 991px) {
    .wrapper{
        background-color: #101010;
    }
    .nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .nav_menu_list {
        display: flex;
        align-items: center;
      }
      .nav_menu_list .nav_menu_item {
        margin: 0 2rem;
      }
      .nav_menu_item .nav_menu_link {
        font-size: 16.5px;
        line-height: 27px;
        color: var(--link-color);
        text-transform: capitalize;
        letter-spacing: 0.5px;
      }
      .nav_menu_link:hover {
        color: var(--primary-color);
      }
      .toggle_btn {
        font-size: 20px;
        font-weight: 600;
        color: var(--lg-heading);
        z-index: 4;
      }
      .nav_menu,
      .close_btn {
        display: none;
      }
    .clients{
        position: absolute;
    width: 100%;
    height: 320px;
    left: 0px;
    top: px;
    
    background: #c4c4c4;
    }
    .heading{
        float: right;
        color: #f3f2f3;
        height: 30px;
    width: 77px;
    left: 1082px;
    top: 24px;
    margin-left: 934px;
    margin-top: -34px;
    
    background-color: #bf008a;
    }
    launch{
        position: absolute;
        height: 60px;
        left: 200px;
        top: 395px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.4px;
        
        /* Primary Font Color */
        
        color: #E0E0E0;
    
      }
      .door{
        position: absolute;
        width: 299px;
        height: 60px;
        left: 200px;
        top: 466px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.4px;
        
        /* Secondary Font Color */
        
        color: #A0A0A0;
    
      }
      .sign{
        position: absolute;
        height: 30px;
        left: 197px;
        top: 533px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.4px;
        
        /* Secondary Font Color */
        
        color: #A0A0A0;
      }
      .calender{
        position: absolute;
        left: 670px;
        top: 276px;
        
        border-radius: 8px; 
      }
      .signup{
        position: absolute;
        
        left: 828px;
        top: 546px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */
        
        letter-spacing: 0.4px;
        
        /* Primary Font Color */
        
        color: #E0E0E0;
        
      }
      .firstname{position: absolute;
        
        left: 800px;
        top: 589px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        
        
        /* Primary Font Color */
        
        color: #E0E0E0;
    
    
      }
      .name{
        position: absolute;
        
        height: 32px;
        left: 800px;
        top: 604px;
        
        background: #212427;
        /* Line color 1 */
        
        border: 1px solid #38383E;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: center;
    
      }
      .lastname{
        position: absolute;
        width: 53px;
        height: 15px;
        left: 995px;
        top: 589px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        
        
        /* Primary Font Color */
        
        color: #E0E0E0;
    
      }
      .name1{
        position: absolute;
        height: 32px;
        left: 993px;
        top: 604px;
        
        background: #212427;
        /* Line color 1 */
        
        border: 1px solid #38383E;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: center;
    
    
      }
      .email{
        position: absolute;
        
        left: 800px;
        top: 648px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        
        
        /* Primary Font Color */
        
        color: #E0E0E0;
    
      }
      .email1{
        position: absolute;
        width: 357px;
        height: 32px;
        left: 800px;
        top: 663px;
        
        background: #212427;
        /* Line color 1 */
        
        border: 1px solid #38383E;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: center;
        
      }
      .number{
        position: absolute;
        width: 78px;
        height: 15px;
        left: 800px;
        top: 707px;
        
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        
        
        /* Primary Font Color */
        
        color: #E0E0E0;
    
      }
      .number1{
        position: absolute;
        width: 358px;
        height: 32px;
        left: 800px;
        top: 722px;
        
        background: #212427;
        /* Line color 1 */
        
        border: 1px solid #38383E;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: center;
    
      }
      .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        
        position: absolute;
        width: 359px;
        height: 30px;
        left: 800px;
        top: 776px;
        
        /* Blue-Buttons, Text Highlight, icons */
        
        background: #5891F3;
        border-radius: 4px;
      }
    
  }